body {
  background-color: #e28c40;
  font-family: "times new roman", sans-serif;
}
.bigsection {
  text-align: center;
}
.bigsection p {
  font-size: 24px;
}


.smallsection ul, .smallsection p {
  font-size: 18px;
}