body {
  background-color: #df7c26;
  font-family: "times new roman", sans-serif;
}
.header {
  text-align: center;
}
p {
  font-size: 18px;
}
p.header {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
.bigsection {
  text-align: center;
}
.bigsection p {
  font-size: 24px;
}


.smallsection ul, .smallsection p{
  font-size: 18px;
}

.expandable {
  display: none
}

.hidden {
  position: absolute; 
  left:-500px; 
  top:0; 
  width:1; 
  height:1; 
  overflow:hidden; 
}