body {
  background-color: #CA6F1E;
  font-family: "times new roman", sans-serif;
}
.bigsection {
  text-align: center;
}
.bigsection p {
  font-size: 24px;
}

form {
  font-size: 24px;
}
input {
  display: inline
}
li p {
  font-size: 18px;
}

.smallsection ul, .smallsection p{
  font-size: 18px;
}

ul li a {
  color: #0B5345;
}

.expandable {
  display: none;
}

.invisible {
  display: block;
}